nav{
    position:fixed;
    top: 0;
    left:0;
    display: initial;
    z-index: 2;
    background-color: black;
    width: 100%;
    
  }

li{
    display: block;
    float: left;
    margin: 5px;
    padding: 5px;
    border: solid 1px rgb(170, 0, 0);
    border-radius: 16px;
    font-size: 14px;
}
h1{
    margin-top: 100px;
    font-size: 50px;
    margin-left: 2%;
    border-bottom: black 1px solid;
    border-bottom-right-radius: 5px;
}

body{
    font-family: 'Varela Round', sans-serif;
    background-color: rgb(253, 253, 253);
}

.subHeader{
    font-size: 28px;
    font-style: bold;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.primaryContent{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
    line-height:30px;
}

.technologyUsed{
   text-align:right;
}

img {
    display:block;
    max-width:100%;
    height:auto;
    margin-right: auto;
    margin-left: auto;
    border: 5px rgba(48, 48, 48, 0.897) solid;
    border-radius: 10px;
}

.headerFont{
    font-family: 'Vollkorn', serif;
}

.projects{
    font-size: 32px;
    font-style: bold;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.projectTitle{
    text-align:left;
    margin-top: 80px;
    font-size:34px;

}
.outerColumn{
    display: none;
}

@media screen and (min-width: 600px) {
    body{
        margin-left: auto;
        margin-right: auto;
    }

    h1{
        text-align: center;
    }
    .contentContainer{
        display: flex;
        justify-content: space-between;
    }
    
    .outerColumn{
        display:flex;
        flex-direction: column;
        margin: 80px;
        justify-content:space-around;
    }

    .imageText{
        text-align: center;
    }
}